*{
    margin:0px;
    padding:0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#header{
    width:100%;
    background-color: rgb(58, 114, 65);
    height:20vh;
    text-align: center;
     
}
main{
    background-color: #d7e3e6;
    
    height:135vh;
}
#intro-p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    max-width: 85vw;
    margin: 0 auto;
   
}
.section-title{
    font-size: 28px;
    text-align: center;
    height:10vh;
}

.menu{
    height:80vh;
	width:96vw;
	border: 3px solid rgb(69, 63, 82);
	margin:auto;
	padding:10px;
	overflow-y:hidden;
}
.top-menu, .mid-menu, .bot-menu{
    width:100%;
	text-align: center;
}
.menu-item{
	height:230px;
	width:31.5%;
	display:inline-block;
	padding:2px;
    margin:3px;
    background-color: rgb(144, 144, 230);
    text-align: center;

}
.menu-item:hover{
	opacity: 75%;
}
#item-one{
    background-image: url("../images/smithrock.jpg");
	background-size:cover;
	background-position:center;
    color:white;
    text-align: right;
}
#item-two{
    background-image: url("../images/wildwood.jpg");
	background-size:cover;
	background-position:center;
    color:black;
}
#item-three{
    background-image: url("../images/drt.jpg");
	background-size:cover;
	background-position:center;
    color:white;
}
#item-four{
    background-image: url("../images/horse.jpg");
	background-size:cover;
	background-position:center;
    color:black;
}
#item-five{
    background-image: url("../images/skyline.jpg");
	background-size:cover;
	background-position:center;
    color:black;
}
#item-six{
    background-image: url("../images/elkhorn.jpg");
	background-size:cover;
	background-position:center;  
    text-align: left;
    color:black;
}


#contact{
    display: block;
    align-items: center;
    width:100%;
    background-color: rgb(189, 122, 105, .7);
    height:45%;
    font-size: 20px;
    padding:10px;
   
}
.reach{
    text-align: center;
}
.form-div{
background-color: #5b8b65;
width:50vw;
margin:0 auto;
padding: 25px;
}
.name-box{
 height: 30px;
 width:190px;
}
.email-box{
    height: 30px;
    width:190px;
}
.message-box{
    height: 150px;
    width:300px;
    
}

.text-area, .message-box, .name-box, .email-box{
    margin: 10px auto;
}
.icons{
    font-size: 45px;
    margin:0 auto ;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    max-width: 600px;
    color: black;
}

.shop{
color:black;
margin:20px;
text-align: center;

}
.smith-first{
    text-align: center;
    max-width: 100vw;
    margin:30px;
}

#smith-second{
    text-align: center;
    max-width: 100vw;
    margin:15px 50px;
}
#smith-img{
    display: block;
margin:20px auto;
max-width: 95vw;
}
#river-trail-img{
    display: block;
margin: 30px auto;

}
#drt-text{
    text-align: center;
    max-width: 100vw;
    margin:15px 50px;
    
}
.butte-runner{
    display: block;
    width:45%;
    height:45%;
    margin: 20px auto;
}
.horse-butte{
    margin: 25px;
    text-align: center;
}
.skyline{
    text-align: center;
    margin:25px auto;
}
.mountain{
    display: block;
 max-width: 90vw;
 max-height: 85vh;
 margin: auto;
}
.wildwood-trail{
    display: block;
    margin:20px auto;
}
.forest-park{
text-align: center;
margin: 25px;
}
.copyright{
    font-size: 16px;
    padding:10px;
}